.new-arrival-slick .button {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
}
.new-arrival-slick .card .card-image {
  width: 100%;
  /* aspect-ratio: 7 / 8; */
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.new-arrival-slick .card:hover {
  background-color: rgb(244, 248, 250);
}

.new-arrival-slick .card:hover .list-group {
  background-color: rgb(244, 248, 250);
}

.new-arrival-slick .card:hover .list-group-item {
  background-color: rgb(244, 248, 250);
}
